.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent; /* Make the navbar background transparent */
  padding: 10px 0;
}
.active-sidenav {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.navbar-subtitle {
  font-size: 14px;
  color: #ccc;
}

.navbar-right {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-right li {
  margin: 0 15px;
}

.navbar-right li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.navbar-right li a:hover {
  background: rgba(255, 255, 255, 0.2); /* Slightly visible hover effect */
  border-radius: 5px;
}

.cart {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px 10px;
}
