<div class="blog-list">
  <h2>All Blogs</h2>

  <div *ngFor="let blog of blogs" class="blog-item">
    <div class="blog-thumbnail">
      <img src="assets/images/istockphoto-961155428-612x612.jpg" alt="Blog Image">
    </div>
    <div class="blog-content">
      <h3>{{ blog.title }}</h3>
      <p>By {{ blog.author?.firstName }} {{ blog.author?.lastName }} | {{ blog.createdAt | date }}</p>
      <p>{{ blog.content | slice:0:300 }}...</p>
      <div class="blog-tags">
        <span *ngFor="let tag of blog.tags" class="blog-tag">{{tag}}</span>
      </div>
      <div class="blog-actions">
        <button *ngIf="blog.id" (click)="viewBlog(blog.id!)" class="read-more-btn">Read More</button>
      </div>
    </div>
  </div>
</div>
