<div class="profile-container" *ngIf="user$ | async as user; else loading">
  <div class="profile-card">
    <div class="profile-header">
      <img [src]="'default-profile-picture.jpg'" alt="Profile Picture" class="profile-picture" />
      <h2>{{ user.firstName }} {{ user.lastName }}</h2>
      <p class="username">@{{ user.username }}</p>
    </div>
    <div class="profile-body">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
    </div>

    <div *ngIf="userBookStatuses$ | async as userBookStatuses">
      <h3>Book Statuses</h3>
      <ul>
        <li *ngFor="let bookStatus of userBookStatuses">
          <div class="book-status-card">
            <img [src]="bookStatus.book.imageUrl" alt="{{ bookStatus.book.title }} Cover" class="book-cover" />

            <div class="book-details">
              <p><strong>Title:</strong> {{ bookStatus.book.title }}</p>
              <p><strong>Author:</strong> {{ bookStatus.book.author }}</p>
              <p><strong>Current Page:</strong> {{ bookStatus.currentPage }}</p>
              <p><strong>Status:</strong> {{ bookStatus.status }}</p>
              <p><strong>Rating:</strong> {{ bookStatus.rating }}</p>
              <p><strong>Review:</strong> {{ bookStatus.review }}</p>
              <p><strong>Favorite:</strong> {{ bookStatus.favorite ? 'Yes' : 'No' }}</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="profile-actions">
      <button class="btn-edit" (click)="editProfile()">Edit Profile</button>
      <button class="btn-logout" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
