<div class="hero-section">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1>Page Picks</h1>
    <p>The whole library is in your phone</p>
    <h2>Start exploring</h2>
    <a href="#" class="see-more-btn">See More</a>
  </div>
</div>

<div class="search-section">
  <input type="text" placeholder="Book Title">
  <select>
    <option>Book Category</option>
  </select>
  <select>
    <option>Book Author</option>
  </select>
  <button class="search-btn"><i class="fa fa-search"></i> Find Book</button>
  <button class="add-book-btn" (click)="openAddBookDialog()"> <mat-icon>library_add</mat-icon> </button>
</div>

<app-all-books></app-all-books>