<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="book-view">
  <div class="book-container">
    <div class="book-image">
      <img [src]="'https://covers.openlibrary.org/b/isbn/' + book.isbn + '-L.jpg'" alt="{{ book.title }} cover image">
      <div class="button-group">
        <button class="add-to-reading-list" (click)="addBookToRead(book.isbn)" *ngIf="bookStatus===1">Add to reading list</button>
        <button class="add-to-reading-list" *ngIf="bookStatus===2" disabled style="background-color:gray" [(ngModel)]="bookStatus">To Read</button>
        <button class="add-to-reading-list" *ngIf="bookStatus===3" disabled style="background-color:gray"  [(ngModel)]="bookStatus">Currently Reading</button>
        <button class="add-to-reading-list" *ngIf="bookStatus===4" disabled style="background-color:rgb(121, 196, 121)"  [(ngModel)]="bookStatus">Read</button>
        <button class="add-to-favorites" [ngClass]="{'favorited': isFavorited}" (click)="toggleFavorite()">
          <span *ngIf="!isFavorited">Favorite</span>
          <span *ngIf="isFavorited">Favorited</span>
          <mat-icon style="padding-top:2px">{{ isFavorited ? 'favorite' : 'favorite_border' }}</mat-icon>
        </button>        
      </div>
    </div>
  
    <div class="book-info-reviews">
      <div class="book-info">
        <h2 class="book-title">{{ book.title }}</h2>
        <p class="book-author">{{ book.author }}</p>
        <div class="book-genre">{{ book.genre }}</div>
        <p class="book-description">{{ book.description }}</p>
        <p class="book-publisher">{{ book.publisher }}</p>
        <p class="book-pageCount" *ngIf="book.pageCount">{{ book.pageCount }} pages</p>
      </div>
      
      <div class="book-reviews" *ngIf="reviews.length > 0">
        <h3>Reviews</h3>
        <div *ngFor="let review of reviews" class="review">
          <p class="review-username">{{ review.username }}</p>
          <div class="review-rating">
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <span class="star" [ngClass]="{'filled-star': i < review.rating, 'empty-star': i >= review.rating}">★</span>
            </ng-container>
          </div>
          
          <p class="review-text">{{ review.review }}</p>
        </div>
      </div>
      
      <div *ngIf="reviews.length === 0">
        <p>No reviews available.</p>
      </div>
    </div>
  </div>
</div>
